<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourkkm.citylife"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.fourkkm.citylife.CoreApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- google map设置 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZVxX3Ue79ORxnm8ObLk8NcikYJg7plEE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 百度统计设置 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="2bb7082192" />
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />

        <activity
            android:name="com.fourkkm.citylife.control.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 商铺列表界面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.SubjectListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 商铺详情界面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.SubjectDetailActivity"
            android:screenOrientation="portrait" >

            <!-- 新浪微博分享必须的 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 商铺评价 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.ReviewAddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 商铺地址地图展示 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.SubjectMapMarkerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 地图选点 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.MapMarkerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 相册页面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.AlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 评论列表 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.ReviewListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 评论详情 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.ReviewDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 问答列表 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.AskListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 问答详情 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.AskDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 回答问题界面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.AskAnswerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 添加问题 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.AskAddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 问题修改及最佳答案 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.AskUpdateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 聚会列表 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.PartyListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 聚会详情 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.PartyDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 添加聚会 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.PartyAddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 聚会报名 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.PartyApplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 唐人巷列表 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.ChineseLaneListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 唐人巷详情 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.ChineseLaneDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 添加唐人巷 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.ChinaLaneAddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 会员中心 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.UserCenterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的短信 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.SmsListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的短信详情 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.SmsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 会员信息修改 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.UserUpdateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 更多 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 关于我们 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.AboutUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 新手帮助 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.HelperActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 版本说明 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.VersionInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 店铺添加 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.SubjectAddActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 登录界面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.LoginActivity"
            android:screenOrientation="portrait" >

            <!-- 淘宝 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 注册应用中回调URL的前半部分 -->
                <data android:scheme="taobao21725410" />
            </intent-filter>
        </activity>
        <!-- 注册界面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 腾讯qq助手页 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 腾讯qq鉴权界面 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- tencent加QQ_APP_ID -->
                <data android:scheme="tencent101007340" />
            </intent-filter>
        </activity>
        <!-- 腾讯微博鉴权界面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.TencentAuthActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 新浪微博/腾讯微博/QQ分享界面 -->
        <activity
            android:name="com.fourkkm.citylife.control.activity.ShareActivity"
            android:screenOrientation="portrait" >

            <!-- 新浪微博所需 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>

        <service android:name="com.fourkkm.citylife.content.SmsPushService" >
        </service>

        <receiver android:name="com.fourkkm.citylife.content.NetworkConnectReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>